/*
  0. COMMON
  1. WRAPPERS
  2. TYPOGRAPHY
  3. RWD
*/

/*
-----------------
--- 0. COMMON ---
-----------------
*/

* {
  margin: 0;
  padding: 0;
}

/*
-------------------
--- 1. WRAPPERS ---
-------------------
*/

body {
  /* background-color: #fafafa; */
  background: linear-gradient(to left, #fafafa, #f1f1f1);
}

/*
---------------------
--- 2. TYPOGRAHPY ---
---------------------
*/

body {
  font-family: Arial;
  font-size: 16px;
}

/*
--------------
--- 3. RWD ---
--------------
*/
